<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to t('app.title'), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('app.navigation.your_profile'), current_user, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('app.navigation.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('app.navigation.sign_in'), new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to t('app.navigation.sign_up'), new_user_registration_path, class: 'border border-success rounded nav-link p-1 m-1' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% flash.each do |type, msg| %>
            <% if type == 'alert' %>
              <div class="alert alert-danger buffer-top">
                <%= msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% else %>
              <div class="alert alert-info buffer-top">
                <%= msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; <%= t 'app.company' %> 2021</p>
      </footer>
    </div>
  </body>
</html>
