<!DOCTYPE html>
<html>
  <head>
    <title>Event-Organizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Events!", root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Your profile", current_user, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            <% else %>
              <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: 'border border-success rounded nav-link p-1 m-1' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% flash.each do |type, msg| %>
            <div class="alert alert-info buffer-top">
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2016</p>
      </footer>
    </div>
  </body>
</html>
